.nav-link
{
	margin-right: 30px;
	color: #30307e;
	padding-left: 10px;
}
#i1{
	padding: 10px;
	color: navy;
}
#hone
{
	font-size: 2em;
	text-align: center;
	color: #30307e;
	padding-top: 3%;
}
#form1
{
	margin: 30px;
	padding: 50px;
	background-color: white;
	width: auto;
	height: auto;
	border-radius: 10px;
	box-sizing: border-box;
	border: 20px solid #30307e;
	box-shadow: inset 0px 5px 5px 5px ;
	font-size: 1.3em;
	font-weight: bold;
}

input [type=text],[type=text],[type=date],#m1
{
	border: none;
	outline: none;
	margin: 0 5%;
	padding: 0;
	width: 90%;
	overflow: hidden;
	color: #30307e;
	font-size: 20px;
	letter-spacing: 2px;
	background: transparent;
	border-bottom: 2px solid #30307e;

}

#button
{
	width: 30%;
	margin: 20px 0px;
	border: 2px solid;
	border-radius: 5px;
	height: 40px;
	background-color: #c7d9ef;
	text-align: center;
}

button:hover
{
	background: rgba(0,0,0,.6);
}


